@model IHMS.ViewModel.DietdetailViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}

<h1>Details</h1>

<div>
    <h4>DietdetailViewModel</h4>
    <hr />
    <dl class="row">
        <p>@Model.DietId</p>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
