@model IHMS.Models.PointRecord

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PointRecord</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PointrecordId" />
            <div class="form-group">
                <label asp-for="Count" class="control-label"></label>
                <input asp-for="Count" class="form-control" />
                <span asp-validation-for="Count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberId" class="control-label"></label>
                <select asp-for="MemberId" class="form-control" asp-items="ViewBag.MemberId"></select>
                <span asp-validation-for="MemberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankNumber" class="control-label"></label>
                <input asp-for="BankNumber" class="form-control" />
                <span asp-validation-for="BankNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Createtime" class="control-label"></label>
                <input asp-for="Createtime" class="form-control" />
                <span asp-validation-for="Createtime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Updatetime" class="control-label"></label>
                <input asp-for="Updatetime" class="form-control" />
                <span asp-validation-for="Updatetime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
