
<script src="~/js/GoogleLogin.js"></script>
<script src="https://accounts.google.com/gsi/client" async defer></script>
<div id="g_id_onload"
     data-client_id="991567004726-ao6a078ma1f7gf4qj6a9c8768dr6hsmr.apps.googleusercontent.com"
     data-login_uri="https://localhost:7127/Login/GoogleLogin/"
     data-auto_prompt="false">
</div>
<div class="g_id_signin"
     data-type="standard"
     data-size="large"
     data-theme="outline"
     data-text="sign_in_with"
     data-shape="rectangular"
     data-logo_alignment="left">
</div>