@{

    Layout = null; // 禁用布局页面
}


<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login Page</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <style>
        /* 加入 X 圖標的樣式 */
        .close-icon {
            position: absolute;
            top: 20px;
            right: 20px;
            font-size: 24px;
            color: white;
            cursor: pointer;
        }

        /* 調整標題的位置，讓 X 圖標固定在右上角 */
        .login-title {
            position: relative;
            padding-right: 50px; /* 給 X 圖標留出空間 */
        }
    </style>

</head>


<body>
    <header>
        <section class="vh-100 gradient-custom">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card bg-dark text-white" style="border-radius: 1rem;">
                            <div class="card-body p-5 text-center">

                                <div class="mb-md-5 mt-md-4 pb-5">
                                    <a href="http://localhost:5174/" class="close-icon">&times;</a>
                                    <h2 class="fw-bold mb-2 text-uppercase">登入</h2>
                                    <p class="text-white-50 mb-5">請輸入您的帳號與密碼!</p>

                                    <div class="form-outline form-white mb-4">
                                        <input type="text" id="Account" class="form-control form-control-lg" />
                                        <label class="form-label" for="Account">帳號</label>
                                    </div>

                                    <div class="form-outline form-white mb-4">
                                        <input type="password" id="Password" class="form-control form-control-lg" />
                                        <label class="form-label" for="Password">密碼</label>
                                    </div>


                                    <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">忘記了密碼?</a></p>
                                    <button class="btn btn-outline-light btn-lg px-5" type="button" onclick="login(event)">Login</button>
                                    
                                    <script src="https://accounts.google.com/gsi/client" async defer></script>
                                    <div id="g_id_onload"
                                         data-client_id="991567004726-ao6a078ma1f7gf4qj6a9c8768dr6hsmr.apps.googleusercontent.com"
                                         data-login_uri="https://localhost:7127/Login/GoogleLogin/"
                                         data-auto_prompt="false">
                                    </div>
                                    <div class="g_id_signin"
                                         data-type="standard"
                                         data-size="large"
                                         data-theme="outline"
                                         data-text="sign_in_with"
                                         data-shape="rectangular"
                                         data-logo_alignment="left">
                                    </div>
                                    
                                    @*<button class="btn btn-outline-light btn-lg px-5" type="button" onclick="login(event); editMember(document.getElementById('memberId').value)">Login</button>*@

                                    

                                    <div class="d-flex justify-content-center text-center mt-4 pt-1">
                                        <button type="button" class="btn btn-outline-light btn-lg px-3" onclick="會員DemoLogin()">Demo會員</button>
                                        <button type="button" class="btn btn-outline-light btn-lg px-3" onclick="老師DemoLogin()">Demo老師</button>
                                        <button type="button" class="btn btn-outline-light btn-lg px-3" onclick="管理者DemoLogin()">Demo管理者</button>                                      


                                    </div>

                                </div>

                                <div>
                                    <p class="mb-0">還沒有帳號嗎? <a href="https://localhost:7127/Members/SignIn" class="text-white-50 fw-bold">註冊</a></p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>        
    </header>
    <head>
        <!-- 其他 head 元素 -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>

    <script src="~/js/Login.js"></script>
    <script src="~/js/GoogleLogin.js"></script>
</body>

</html>
