<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }

        #header {
            background-color: #333;
            color: #fff;
            padding: 10px;
            text-align: center;
        }

        #loginContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        #loginBox {
            background-color: #fff;
            border: 1px solid #ccc;
            padding: 20px;
            max-width: 400px;
            width: 100%;
        }

        #loginForm {
            display: flex;
            flex-direction: column;
        }

        label {
            margin-bottom: 5px;
        }

        input {
            margin-bottom: 10px;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        button {
            background-color: #007bff;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

            button:hover {
                background-color: #0056b3;
            }
    </style>
</head>
<body>

    <div id="loginContainer">
        <div id="loginBox">          
                <label for="Account">帳號：</label>
                <input type="text" id="Account"><br>
                <label for="Password">密碼：</label>
                <input type="Password" id="Password"><br>
                <button onclick="Login()">登入</button>
         
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script>
          

            // 完成 Login 函式
           async function Login() {                  
                var Account = document.getElementById('Account').value;
                var Password = document.getElementById('Password').value;
                 var baseAddress = `https://localhost:7127/api/Members/Login/${Account}/${Password}`;              
                // 使用 AJAX 發送登入請求           
                  const res = await fetch(baseAddress, {
                     method: 'GET',
                     headers: {
                     'content-type': 'application/json'
                     }
                  })                 
               }
             
        </script>
</body>
</html>
