@model IHMS.Models.Plan

@{
    ViewData["Title"] = "Create";
}

<h1>新增計畫</h1>

<h4>Plan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>         
            <div class="form-group">
                <label asp-for="PMemberId" class="control-label"></label>
                <input asp-for="PMemberId" class="form-control" />
                <span asp-validation-for="PMemberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PWeight" class="control-label"></label>
                <input asp-for="PWeight" class="form-control" />
                <span asp-validation-for="PWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PBodyPercentage" class="control-label"></label>
                <input asp-for="PBodyPercentage" class="form-control" />
                <span asp-validation-for="PBodyPercentage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PRegisterdate" class="control-label"></label>
                <input asp-for="PRegisterdate" class="form-control" />
                <span asp-validation-for="PRegisterdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PEndDate" class="control-label"></label>
                <input asp-for="PEndDate" class="form-control" />
                <span asp-validation-for="PEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{}
}
