@model IEnumerable<IHMS.Models.Coach>

@{
    IhmsContext db = new IhmsContext();
    Layout = "frontend_Layout";

}

@section Styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" / >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" / >
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/coach.css" rel="stylesheet" />
    <style>
        .breadcrumb__text h2, .breadcrumb__option span {
            color: #fff;
        }

        .breadcrumb__option a {
            color: #fff;
        }

        section{
            height:100vh
        }
        #tittle {
            background: url(../img/coach/Banner.png) center center repeat;
            background-size:cover;
            margin-top:79px;
            width:100%;          
            background-size: cover;
            background-position: top center;
        }

    </style>
}


@*banner大圖*@


<section>
    <div id="tittle">
        <div>
            <div class="row text-center">
                <div class="col-lg-12 breadcrumb__text">
                    @*h2內容請自行更換*@
                    <h2>私人教練專區</h2>
                    <div class="breadcrumb__option">
                        <a href="~/Student/CoachList">Home</a>
                        <span>Training</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


@section Scripts{
    
       

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11">
                SwalGreen.fire({
                    title: '查無搜尋結果',
                    text: '請重新搜尋或選擇篩選條件。',
                    icon: 'warning',
                    confirmButtonText: '前往教練列表',
                    showCloseButton: true
                }).then((result) => {
                    if (result.isConfirmed)
                        $(location).prop("href", "@Url.Content("~/Student/CoachList")");
                })
            </script>
        
        

    
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script>
        //Demo
        $("#btnDemo").click((evt) => {
            evt.preventDefault();
            $("#ipKeyword").val("alisa");
        })

        //Page
        function GetPage() {
            $(".divPage").empty();
            let coachCount = $(".divCoachList .divCoachCard").length;
            let pageCount = coachCount / 10;
            for (let i = 1; i < pageCount + 1; i++) {
                $(".divPage").append(`<button class="btnPage" id="btn${i}">${i}</button>`);
            }
            //頁碼click
            $(".btnPage").on("click", function () {
                let coachCards = $(".divCoachCard");
                coachCards.hide();
                let index = 10 * parseInt($(this).text());
                coachCards.slice(index - 10, index).show();
                $('html,body').animate({ scrollTop: 0 }, 'slow');
                $(this).addClass("selectedPage").siblings().removeClass("selectedPage");
            })
            //Next Page
            if ($(".btnPage").length > 1) {
                $(".divPage").append('<button class="btnPage btnNext"><i class="fa fa-long-arrow-right"></i></button>');
            }
            $(".btnNext").on("click", function () {
                let recent = $(".selectedPage").text();
                $(`#btn${parseInt(recent) + 1}`).trigger("click");
            })
            //顯示第一頁
            let coachCards = $(".divCoachCard");
            coachCards.hide();
            coachCards.slice(0, 10).show();
            $(".btnPage").first().addClass("selectedPage").siblings().removeClass("selectedPage");
        }
        GetPage();

        //顯示教練數量
        $(document).ready(() => {
            $("#spResultCount b").text(`${$(".divCoachList .divCoachCard").length}`);
        })

        //if未輸入關鍵字
        $("#btnSearch").click((evt) => {
            if ($("#ipKeyword").val() == "") {
                evt.preventDefault();
                SwalGreen.fire({
                    icon: 'warning',
                    title: '請輸入關鍵字'
                })
            }
        })

        //多重篩選觸發事件、顯示搜尋結果
        $("#selCity").change(() => {
            ShowFilter();
            GetCoach();
        })
        $("input[name='fGender[]'], input[name='fCoachSkill[]'], input[name='fCoachTime[]']").click(() => {
            if ($("input[name='fCoachSkill[]']:checked").length < 9) {
                $("#spAllSkill").prop("hidden", false);
                $("#spCancelSkill").prop("hidden", true);
            }
            else {
                $("#spAllSkill").prop("hidden", true);
                $("#spCancelSkill").prop("hidden", false);
            }
            if ($("input[name='fCoachTime[]']:checked").length < 6) {
                $("#spAllTime").prop("hidden", false);
                $("#spCancelTime").prop("hidden", true);
            }
            else {
                $("#spAllTime").prop("hidden", true);
                $("#spCancelTime").prop("hidden", false);
            }
            ShowFilter();
            GetCoach();
        })
        function ShowFilter() {
            $("#spSearch").prop("hidden", false);
            $("#spFilter").empty();
            if ($("#selCity option:selected").val() != 0) {
                $("#spFilter").append(`<span class="spSearchFilter animate__animated animate__fadeIn">${$("#selCity option:selected").text()}</span>`);
            }
            $("input[name='fGender[]']:checked").each(function () {
                $("#spFilter").append(`<span class="spSearchFilter animate__animated animate__fadeIn">${$(this).next("label").text()}</span>`)
            })
            $("input[name='fCoachSkill[]']:checked").each(function () {
                $("#spFilter").append(`<span class="spSearchFilter animate__animated animate__fadeIn">${$(this).next("label").text()}</span>`)
            })
            $("input[name='fCoachTime[]']:checked").each(function () {
                $("#spFilter").append(`<span class="spSearchFilter animate__animated animate__fadeIn">${$(this).next("label").text()}</span>`)
            })
        }

        //全選
        $("#spAllSkill").click(() => {
            $("input[name='fCoachSkill[]']").prop("checked", true);
            $("#spAllSkill").prop("hidden", true);
            $("#spCancelSkill").prop("hidden", false);
            ShowFilter();
            GetCoach();
        })
        $("#spAllTime").click(() => {
            $("input[name='fCoachTime[]']").prop("checked", true);
            $("#spAllTime").prop("hidden", true);
            $("#spCancelTime").prop("hidden", false);
            ShowFilter();
            GetCoach();
        })

        //取消全選
        $("#spCancelSkill").click(() => {
            $("input[name='fCoachSkill[]']").prop("checked", false);
            $("#spAllSkill").prop("hidden", false);
            $("#spCancelSkill").prop("hidden", true);
            ShowFilter();
            GetCoach();
        })
        $("#spCancelTime").click(() => {
            $("input[name='fCoachTime[]']").prop("checked", false);
            $("#spAllTime").prop("hidden", false);
            $("#spCancelTime").prop("hidden", true);
            ShowFilter();
            GetCoach();
        })

        //清除條件
        $("#btnClear").click((evt) => {
            evt.preventDefault();
            $("#selCity").val("0");
            $("input[type='checkbox']").prop("checked", false);
            GetCoach();
            $("#spFilter").empty();
            $("#spSearch").prop("hidden", true);
            $("#spAllSkill").prop("hidden", false);
            $("#spCancelSkill").prop("hidden", true);
            $("#spAllTime").prop("hidden", false);
            $("#spCancelTime").prop("hidden", true);
        })

        //Ajax篩選後顯示教練
        function GetCoach() {
            $.ajax({
                url: '@Url.Content("~/Student/MultiFilter")',
                type: 'post',
                data: new FormData(document.frmFilter),
                processData: false,
                contentType: false,
                success: function (data) {
                    $(".divCoachList").empty();
                    $("#spResultCount>b").text(`${data.length}`);
                    $.each(data, function (index, coach) {
                        $(".divCoachList").append(`<div class="divCoachCard row animate__animated animate__fadeIn" id=div${index}></div>`)
                        //左-col-3
                        $(`#div${index}`).append(`<div class="col-3 divImg" id=divImg${index}><img class="imgCoach" id=img${index}></div>`);
                        $(`#img${index}`).attr("src", `/img/coach/coachImage/${coach.fCoachImage}`);
                        //右-col-9
                        $(`#div${index}`).append(`<div class="col-9 divCoachInfo" id=divInfo${index}></div>`);
                        $(`#divInfo${index}`).append(`<ul id=ul${index}></ul>`);
                        //名稱、btn
                        $(`#ul${index}`).append(`<li style="list-style:none" class="liCoachName row" id=liName${index}></li>`);
                        $(`#liName${index}`).append(`<h3 class="col-8"><b>${coach.fCoachName}</b></h3>`);
                        $(`#liName${index}`).append(`<div class="col-3 divBtnDetail"><a href="/Student/ViewCoachDetails/${coach.fCoachId}">教練檔案</a></div>`);
                        //評價、成交數
                        $(`#ul${index}`).append(`<li style="list-style:none" class="li liAvgRate" id=liRate${index}></li>`);
                        $(`#liRate${index}`).append(`<span id="spAvg${index}"></span>&nbsp;&nbsp;&nbsp;`)
                        $(`#liRate${index}`).append(`<img class="star starOrig" id="star1_${index}" />
                                                                    <img class="star starOrig" id="star2_${index}" />
                                                                    <img class="star starOrig" id="star3_${index}" />
                                                                    <img class="star starOrig" id="star4_${index}" />
                                                                    <img class="star starOrig" id="star5_${index}" />&nbsp;&nbsp;&nbsp;`);
                        //平均評價
                        $.get("@Url.Content("~/Student/GetAvgRate")", { "id": `${coach.fCoachId}` },
                            function (avg) {
                                $(`#spAvg${index}`).text(`${avg}`);
                                for (let i = 1; i <= avg; i++) {
                                    $(`#star${i}_${index}`).removeClass("starOrig");
                                }
                            })
                        $(".star").attr("src", "/img/coach/icon/star.png");
                        $(`#liRate${index}`).append(`<span id="rateCount">(${coach.rateCount})</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;`);
                        $(`#liRate${index}`).append(`<span id="courseCount">${coach.fCourseCount} 次成交&nbsp;<i class="fa-regular fa-circle-check"></i></span>`);
                        //City
                        $(`#ul${index}`).append(`<li style="list-style:none" class="li" id=liCity${index}></li>`);
                        $(`#liCity${index}`).append(`<img class="imgIcon iconCity" /><b>&nbsp;&nbsp;&nbsp;授課地區： </b><span>${coach.cityName}</span>`);
                        $(".iconCity").attr("src", "/img/Coach/icon/location.png");
                        //Skill
                        $(`#ul${index}`).append(`<li style="list-style:none" class="li" id=liSkill${index}><img class="imgIcon iconSkill" /><b>&nbsp;&nbsp;&nbsp;專長： </b></li>`);
                        $(".iconSkill").attr("src", "/img/Coach/icon/skill.png");
                        $(`#liSkill${index}`).append(`<span class="spSkill" id=spSkill${index}></span>`);
                        $.get("@Url.Content("~/Student/GetSkills")", { "id": `${coach.fCoachId}` },
                            function (skills) {
                                $(`#spSkill${index}`).text(`${skills}`);
                            })
                        //Slogan
                        $(`#ul${index}`).append(`<li style="list-style:none" class="liSlogan"><span>${coach.fSlogan}</span></li>`);
                    })
                    GetPage();
                }
            });
        }

        //GoTop btn
        $('#gotop').click(function () {
            $('html,body').animate({ scrollTop: 0 }, 'slow');
            return false;
        });
        $(window).scroll(function () {
            if ($(this).scrollTop() > 400) {
                $('#gotop').fadeIn();
            } else {
                $('#gotop').fadeOut();
            }
        });
    </script>
}
