@model IHMS.Models.Member

@{
    ViewData["Title"] = "MemberEdit";
    Layout = "frontend_Layout";
}
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <style>
        /* 用於設定頭像圖片的 CSS */
        .avatar {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            object-fit: cover;
        }
    </style>

</head>
</br>
</br>
</br>
</br>
<hr />
<body>
    <div class="container-fluid">
        <div class="row">           
            <div class="col-lg-3 col-md-4 col-sm-12">
                
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                
            </div>

            <div class="col-lg-6 col-md-8 col-sm-12">
                <div class="row">                
                   
                    <!-- 右側欄位，修改欄位表單 -->
                    <div class="col-lg-9 col-md-7">
                        <form asp-action="Edit" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" name="MemberId" id="MemberId" />  @*id="你要抓的標籤" 能用的標籤在Login.js的LoadlocalStorage()*@
                            <div class="container">
                                <div class="row">
                                    <div class="col-4 reveal_b1">
                                        <div class="col-md-12" style="padding-left: 0px;  padding-right: 0px;">
                                            <div class="form-group row justify-content-center">
                                                <img src="/images/1.jpg" alt=" " class="rounded-circle img-responsive border border-ligt" id="ImgShow" />
                                            </div>
                                        </div>
                                        <div class="form-group  justify-content-center">
                                            <div class="col offset-md-2">
                                                <label id="lblPicture" class="col-form-label col-form-label-lg">
                                                    <input id="imgLoad" type="file" name="photo" class="form-control" style="display:none;" />
                                                    <i class="fa fa-photo"></i> 上傳圖片
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                <div class="col-8 reveal_b2">                            
                            <div class="form-group">
                                <label asp-for="Account" class="control-label"></label>
                                <input asp-for="Account" class="form-control" id="Account" />
                                <span asp-validation-for="Account" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" id="Email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" id="Name" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Birthday" class="control-label"></label>
                                <input asp-for="Birthday" class="form-control" id="Birthday" type="date" />
                                <span asp-validation-for="Birthday" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Phone" class="control-label"></label>
                                <input asp-for="Phone" class="form-control" id="Phone" />
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>                            
                            <div class="form-group">
                                <label asp-for="ResidentialCity" class="control-label"></label>
                                <input asp-for="ResidentialCity" class="form-control" id="ResidentialCity" />
                                <span asp-validation-for="ResidentialCity" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DiseaseDescription" class="control-label"></label>
                                <input asp-for="DiseaseDescription" class="form-control" id="DiseaseDescription" />
                                <span asp-validation-for="DiseaseDescription" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="AllergyDescription" class="control-label"></label>
                                <input asp-for="AllergyDescription" class="form-control" id="Allergydescription" />
                                <span asp-validation-for="AllergyDescription" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="會員資料修改" class="btn btn-success" />
                            </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>          
                           
        </div>
    </div>   

    <!-- Bootstrap JavaScript Libraries -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
            integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
            crossorigin="anonymous"></script>
</body>

<div>
    @*<a asp-action="List">取消</a>*@
</div>

<script src="~/js/Login.js"></script>
<script>
    LoadlocalStorage()
    LoginPermission()  
</script>

@section Scripts {
    
    @{

        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }
}
