@model IEnumerable<IHMS.Models.Coach>

@{
    ViewData["Title"] = "List";
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<h1>教練列表</h1>

<p>
    <a asp-action="Create">新增測試</a>
</p>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">已審核</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="https://localhost:7127/Teacher/List_UnReviewed">待審查</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="https://localhost:7127/Teacher/List_Rejected">已退件</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="https://localhost:7127/Teacher/List_resigned">離職</a>
    </li>
</ul>
<table class="table">
    <thead>
        <tr>
            <th>
                序
            </th>
            <th>
                
            </th>
            <th>
               
            </th>
            <th>
                
            </th>
            <th>
               
            </th>
            <th>
               
            </th>
            <th>
               
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            foreach (var item in Model)
            {
                count++;
                <tr>
                    <td>
                        @count
                    </td>
                    <td>
                        <img src="~/Images/" width="100" height="125" />

                    </td>
                    <td >
                        @Html.DisplayFor(modelItem => item.MemberId)
                    </td>
                    <td>
                       
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        
                    </td>
                    
                    <td>
                        
                    </td>
                    <td>
                        @Html.ActionLink("詳細內容", "Details", "Coach", new { id = item.CoachId },
                new { @class = "btn btn-success" }) |
                        @Html.ActionLink("離職", "Delete", "Coach", new { id = item.CoachId },
                new { onclick = "return confirm('確定將該名教練移至離職列表嗎?')", Class = "btn btn-danger" })|
                        @Html.ActionLink("編輯", "Edit", "Coach", new { id = item.CoachId },
                new { onclick = "btn btn-success", Class = "btn btn-success" })

                    </td>
                </tr>
            }
        }
    </tbody>
</table>
