@model IHMS.Models.Coach

@{
    ViewData["Title"] = "Create";
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<h1>新增教練</h1>

<h1>教練列表</h1>

<h4>申請資料</h4>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-10">
                <div class="form-group col-md-10">
                    <label asp-for="Intro" class="control-label"></label>
                    <input asp-for="Intro" class="form-control" />
                    <span asp-validation-for="Intro" class="text-danger"></span>
                </div>
                <div class="form-group col-md-10">
                    個人照片
                    <div class="col-md-10">
                        <input type="file" name="photo" />
                    </div>
                </div>
                <div class="form-group col-md-10">
                    履歷上傳
                    <div class="col-md-10">
                        <input type="file" name="resume" />
                    </div>
                </div>
            </div>
            <div class="form-group col-md-10">
                <input type="submit" value="送出" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            foreach (var item in Model)
            {
                count++;
                <tr>
                    <td>
                        @count
                    </td>
                    <td>
                        <img src="~/Images/@item.TImage" width="100" height="125" />

<div>
    <a asp-action="List_Done">取消</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
            }
        }
    </tbody>
</table>
