@using IHMS.Models
@model AnnouncementView

@{
    ViewData["Title"] = "Announcement";
    Layout = "_Layout";
}

<br />
<br />
<br />
<br />
<h1>發布公告</h1>

@using (Html.BeginForm("Create", "Announcement", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="mb-3">
        <label for="title" class="form-label">標題:</label>
        <br />
        @Html.TextBoxFor(model => model.title, new { id = "title", @class = "form-control" })
    </div>

    <div class="mb-3">
        <label for="content" class="form-label">內容文字:</label>
        <br />
        @Html.TextAreaFor(model => model.contents, new { id = "content", @class = "form-control", style = "height: 200px;" })
    </div>

    <div class="mb-3">
        <label for="image" class="form-label">上傳圖片:</label>
        <br />
        <input type="file" name="image" id="image" class="form-control" />
    </div>

    <input type="submit" value="發布" class="btn btn-primary" />
}